.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition:
    transform 0.2s ease-out,
    box-shadow 0.3s ease-out;
  aspect-ratio: 1 / 1;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 94px;
  background-color: #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  transition: opacity 0.2s ease-out;
}

.card:hover .overlay {
  opacity: 1;
}

.button {
  color: #f24e1e;
  border: none;
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 20px;
  right: 15px;
  background: none;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.favorite:hover {
  color: #f24e1e;
}

.favorite_active {
  color: #ff3a00;
}
